html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 2vh, 6rem);
  color: #333;
  background: rgba(48, 48, 48, 0.137) url("../public/Waimakariri.svg");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

:root {
  --page-bg-color: #f1f1f1;
  --font-color: #000;
  --font-color-darkbg: white;
  --container-color: #f5f8f6;
  --container-color-darkbg: #333333;
  --border: 4px solid #dcdee5;
  --button-border: 2px solid #dcdee5;
  --button: #49b9f0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

/*******************************/
/* Components */
/*******************************/
.button {
  background-color: var(--button);
  border: var(--button-border);
  font-weight: 600;
}

.button:hover {
  background-color: none;
}

/*******************************/
/* Portfolio */
/*******************************/
.container {
  border: var(--border);
  width: 95%;
  max-width: 700px;
  background-color: var(--container-color);
  margin: 0 auto;
  padding: 1.5rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  /* color: rgb(29, 29, 29); */
  margin: 2.5em 1em;
}

.intro h1 {
  margin: 0;
  /* font-size: clamp(1rem, 2.5rem, 6rem); */
}

.intro p {
  max-width: 60ch;
  text-align: center;
}

.website_wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}

.website_container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.website {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5e5e5;
  cursor: pointer;
}

.website1 {
  background-color: #8da4d2;
}

.hvac {
  /* margin: 0; */
  text-align: center;
  font-weight: bolder;
  font-size: clamp(1.25rem, 2.5vh, 6rem);
  /* margin-bottom: 2em; */
}

.website2 {
  background-color: #aba4be;
}

.website_content {
  border: 1px solid black;
  padding: 1em;
  min-height: 405px;
}

.website_content p {
  margin: 0;
  padding: 0;
}

.divider {
  border: 4px solid #e7e9ee;
  margin: 2rem 0;
}

.education_wrapper {
  margin: 1em 0;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn span {
  text-align: center;
}

.resume {
  margin-top: 0.5em;
  text-align: center;
  text-decoration: underline;
}

.resume:hover {
  font-weight: bolder;
}

/*******************************/
/* Contact */
/*******************************/
.form_container {
  margin-top: 5rem;
}

.form_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  /* gap: 1em; */
}

.form_wrapper input,
.form_wrapper textarea {
  border: 4px solid #dcdee5;
  /* padding: 2px; */
  color: #898989;
}

.form_wrapper input {
  min-height: 2.5rem;
}

/*************/
/* Learning form */
/*************/
